h1 {
    background-color: rgb(3, 116, 116);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}  
h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 116, 116);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}