body {
    background-color: rgb(231, 235, 236);
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
/* .header {
    background-color: rgb(26, 161, 161);
    margin:10px;
    height: 60px;
    radius: 5px;
    color: azure;
} */
#navbar {
    color: azure;
}
#navbar ul {
    padding: 5px;
    list-style-type: none;
    text-align: right;
    background-color: rgb(26, 161, 161);
    margin: 10px;
    height: 45px;
    radius: 5px;
}

#navbar p {
    float: left;
    font-size: 200%;
    line-height: 55px;
    padding-left: 45px;
}
/* .navbar pageName {
    color: azure;
} */

#navbar ul li {
    list-style: none;
    display: inline;
    position: relative;
}

#navbar ul li a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .2em 1em;
    color: azure;
    background-color: rgb(26, 161, 161);
}

#navbar ul li ul{
    display: block;
    position: absolute;
}

#navbar ul li a:hover {
   color: rgb(26, 161, 161);
   background-color: azure;
}
.heading {
    color:  rgb(26, 161, 161);
}
.main {
    background-color: azure;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
}























/* h1 {
    font-size: 200%;
    color: azure;
    vertical-align: center;
    padding: 10px;
} */

/* h2 {
    font-size: 140%;
    color: rgb(26, 161, 161);
} */







/* h1 {
    background-color: rgb(3, 116, 116);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}  
h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 116, 116);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
} */